{% extends 'base/base.html.twig' %}

{% block body %}
    <div id="logo" style="width: 30%">
        <a id="logoInicio" href="inicio"> <img src="assets/version_max_red_2t.svg"></a>
    </div>
    <div>
        <h1  class="title-xl"> FSO - Fundamentos de los Sistemas Operativos
        </h1>
    </div>
    <nav aria-label="Breadcrumb" class="ulpgcds-breadcrumb ml-5 pb-5">
        <div>Te encuentras en:</div>
        <ul>
            <li class="ulpgcds-breadcrumb__item"><a class="ulpgcds-breadcrumb__item__link first" href="inicio">ULPGC · Inicio</a></li>
            <li class="ulpgcds-breadcrumb__item"><a class="ulpgcds-breadcrumb__item__link" href="matricula">ULPGC · Matrícula</a></li>
            <li class="ulpgcds-breadcrumb__item"><a class="ulpgcds-breadcrumb__item__link" href="matricula2">ULPGC · Datos familiares y laborales</a></li>
            <li class="ulpgcds-breadcrumb__item">ULPGC · Familia Numerosa</li>
        </ul>
    </nav>

    <div class="ulpgcds-grid">
        <div class="row mx-auto">
            <progress id="bp" class="ulpgcds-progressbar bg-bar" value="3" max="9">
                <span>Progreso: <span class="pval">3</span><strong>/9</strong></span>
            </progress>
        </div>

        <form class="ulpgcds-form" method="post" onsubmit="redirigir()">
            <h6 class="title-xs color-blue mt-5">3.3.1 Familia Numerosa</h6>

            <div class="ulpgcds-form__item">
                <fieldset id="padreFnum" class="ulpgcds-form__item ulpgcds-form__item--inline"><legend>Tipo de Familia Numerosa:</legend>
                    <div class="ulpgcds-form__item__radio">
                        <input id="fnume1" name="fnume" type="radio" value="General"/> <label for="fnume1">General</label>
                    </div>
                    <div class="ulpgcds-form__item__radio">
                        <input id="fnume2" name="fnume" type="radio" value="Especial" checked/><label for="fnume2">Especial</label>
                    </div>
                </fieldset>
            </div>

            <div class="ulpgcds-form__item">
                <label for="text-input-id-1">Carné</label>
                <input id="text-input-id-1" name="text-input" type="text"/>
            </div>
            <div class="ulpgcds-form__item ulpgcds-form__item--type-select">
                <label for="dropdown"><button class="ulpgcds-tooltip"
                                              data-simpletooltip-text="Comunidad autónoma en que fue expedido el carnet de familia numerosa"
                                              role="tooltip">Comunidad Autónoma
                        <span class="ulpgcds-icon ulpgcds-icon-alert ulpgcds-icon--right"></span></button></label>
                <select id="dropdown" name="dropdown">
                    <option value="" >Escoja una opción</option>
                    <option value="2">Andalucía</option>
                    <option value="1">Aragón</option>
                    <option value="3">Canarias</option>
                    <option value="4">Cantabria</option>
                    <option value="6">Castilla y León</option>
                    <option value="5">Castila-La Mancha</option>
                </select>
            </div>

            <div class="ulpgcds-form__item">
                <fieldset id="fsTipo" class="ulpgcds-form__item ulpgcds-form__item--inline"><legend>Tipo:</legend>
                    <div class="ulpgcds-form__item__radio">
                        <input id="fsTipo1" name="fsTipo" type="radio" /> <label for="fsTipo1">2 Hijos</label>
                    </div>
                    <div class="ulpgcds-form__item__radio">
                        <input id="fsTipo2" name="fsTipo" type="radio" /><label for="fsTipo2">3 Hijos</label>
                    </div>
                    <div class="ulpgcds-form__item__radio">
                        <input checked="checked" id="fsTipo3" name="fsTipo" type="radio" /> <label for="fsTipo3">4 Hijos</label>
                    </div>
                    <div class="ulpgcds-form__item__radio">
                        <input checked="checked" id="fsTipo4" name="fsTipo" type="radio" /> <label for="fsTipo4">Otros</label>
                    </div>
                </fieldset>
            </div>

            <input class="ulpgcds-btn ulpgcds-btn--primary" type="submit" value="Confirmar Datos"/>
        </form>
    </div>

    <footer>
        <div class="ulpgcds-footer">
            <div class="ulpgcds-footer__top wrapper float-left mb-3">
                <div class="row mx-auto">
                    <div class="col-6">
                        <div class="footer-logo">
                            <a href="/"><img src="assets/img/sopaxx.gif" alt="[S.Op.]" align="bottom" border="0"></a>
                            <a class="m-1 align-bottom" href="/design">Portada</a>
                            <p class="copyright p-2">&copy; 1994-2020 Universidad de Las Palmas de Gran Canaria</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ulpgcds-footer__bottom">
                <div class="wrapper">
                    <p>© Universidad de Las Palmas de Gran Canaria · ULPGC</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block title %}
    ULPGC · Fundamentos de los Sistemas Operativos - Matrícula
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function redirigir() {
            $.ajax({
                method: 'POST',
                url: '',
                success: function (/*data*/) {
                    window.location.replace("/matricula4");
                },
                error: function () {
                    bootbox.alert("Ha ocurrido un error interno. No se ha podido redirigir a la siguiente página.");
                }
            });
        }
    </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        _uacct = "UA-1660551-1";
        urchinTracker();
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.ulpgc.es/ulpgcds/1.0/js/ulpgcds.js?v=1.0"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5b87c29a1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <link href="https://cdn.ulpgc.es/ulpgcds/1.0/js/chosen/chosen.css" media="all" rel="stylesheet" />
    <script src="https://cdn.ulpgc.es/ulpgcds/1.0/js/chosen/chosen.jquery.js"></script>
    <script src="https://cdn.ulpgc.es/ulpgcds/1.0/js/jquery.ui/datepicker.js"></script>
{% endblock %}