{% extends 'base/base.html.twig' %}

{% block body %}
    <div id="logo" style="width: 30%">
        <a id="logoInicio" href="inicio"> <img src="assets/version_max_red_2t.svg"></a>
    </div>
    <div>
        <h1  class="title-xl"> FSO - Fundamentos de los Sistemas Operativos
        </h1>
    </div>
    <nav aria-label="Breadcrumb" class="ulpgcds-breadcrumb ml-5 pb-5">
        <div>Te encuentras en:</div>
        <ul>
            <li class="ulpgcds-breadcrumb__item"><a class="ulpgcds-breadcrumb__item__link first" href="inicio">ULPGC · Inicio</a></li>
            <li class="ulpgcds-breadcrumb__item"><a class="ulpgcds-breadcrumb__item__link" href="matricula">ULPGC · Matrícula</a></li>
            <li class="ulpgcds-breadcrumb__item"><a class="ulpgcds-breadcrumb__item__link" href="matricula2">ULPGC · Datos familiares y laborales</a></li>
{#            <li class="ulpgcds-breadcrumb__item">ULPGC · Familia Numerosa</li>#}
            <li class="ulpgcds-breadcrumb__item">ULPGC · Dedicación</li>
        </ul>
    </nav>

    <div style="margin: auto" class="ml-5">
        <h6 class="title-xs color-blue mt-5">Ha elegido el grado 4010-Grado en Lenguas Modernas
        <br/>
            Centro: Facultad de Filología
        </h6>
    </div>

    <hr/>

    <div class="mx-auto text-center">
        <p class="Body color-blue">Su dedicación actual en esta titulación es COMPLETA</p>
        <p class="Body color-blue">De acuerdo a la Normativa de Progreso y Permanencia debe matricularse en al menos 60 créditos y como máximo de 60 créditos</p>
    </div>

    <form class="ml-5 mt-3 ulpgcds-form" method="post" onsubmit="redirigir()">
        <div class="ulpgcds-form__item d-flex flex-row justify-content-start align-items-center">
            <label for="btnCambio">Pulse el siguiente botón para solicitar el cambio de dedicación: </label>
            <button class="ulpgcds-btn ulpgcds-btn--secondary ulpgcds-btn--small ml-3">Cambio dedic.</button>
        </div>
        <input class="ulpgcds-btn ulpgcds-btn--primary" type="submit" value="Seguir"/>
    </form>

    <footer>
        <div class="ulpgcds-footer">
            <div class="ulpgcds-footer__top wrapper float-left mb-3">
                <div class="row mx-auto">
                    <div class="col-6">
                        <div class="footer-logo">
                            <a href="/"><img src="assets/img/sopaxx.gif" alt="[S.Op.]" align="bottom" border="0"></a>
                            <a class="m-1 align-bottom" href="/design">Portada</a>
                            <p class="copyright p-2">&copy; 1994-2020 Universidad de Las Palmas de Gran Canaria</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ulpgcds-footer__bottom">
                <div class="wrapper">
                    <p>© Universidad de Las Palmas de Gran Canaria · ULPGC</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block title %}
    ULPGC · Fundamentos de los Sistemas Operativos - Matrícula
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function redirigir() {
            $.ajax({
                method: 'POST',
                url: '',
                success: function (/*data*/) {
                    window.location.replace("/matricula5");
                },
                error: function () {
                    bootbox.alert("Ha ocurrido un error interno. No se ha podido redirigir a la siguiente página.");
                }
            });
        }
    </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        _uacct = "UA-1660551-1";
        urchinTracker();
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.ulpgc.es/ulpgcds/1.0/js/ulpgcds.js?v=1.0"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5b87c29a1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <link href="https://cdn.ulpgc.es/ulpgcds/1.0/js/chosen/chosen.css" media="all" rel="stylesheet" />
    <script src="https://cdn.ulpgc.es/ulpgcds/1.0/js/chosen/chosen.jquery.js"></script>
    <script src="https://cdn.ulpgc.es/ulpgcds/1.0/js/jquery.ui/datepicker.js"></script>
{% endblock %}