<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {#<link rel="stylesheet" type="text/css" href="/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="/css/lista_asignatura.css">#}
        <link rel="shortcut icon" href="http://www.ulpgc.es/sites/all/themes/ulpgc/favicon.ico" type="image/vnd.microsoft.icon" />
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lista_asignatura.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/estilos.css') }}"/>
            <link rel="stylesheet" type="text/css"  href="https://cdn.ulpgc.es/ulpgcds/1.0/css/ulpgcds.css" media="all" />
        {% endblock %}


    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
