{% extends 'base/base.html.twig' %}

{% block body %}

    <header class="ulpgcds-header">
        <div id="logo" style="width: 30%">
            <a id="logoInicio" href="inicio"> <img src="assets/version_max_red_2t.svg" alt="Error al cargar la imagen"></a>
        </div>
    </header>

    <main class="main-content-web mt-5">
        <div class="sidebar-left" style="height: 100vh">
            <ul class="menu">
                <li><span class="nolink">Descubre nuestras actividades</span>
                    <ul>
                        <li><a href="senderismo">Senderismo</a></li>
                        <li class="active"><a href="#">Kayak</a></li>
                        <li><a href="playas">Buceo</a></li>
                        <li><a href="forestal">Circuit training</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="main-section">
            <h1 class="page-title">Kayak ULPGC</h1>
            <div class="ulpgcds-video">
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/NdbUfLll2J0"
                        width="560"></iframe>
            </div>


            <p class="text-justify">Bienvenidos a la web institucional del Servicio de Deportes de la Universidad de Las Palmas de Gran Canaria. A continuación,
                te invitamos a conocer los detelles la actividad <strong>Kayak Tasarte - Mogán</strong>. En esta refrescante aventura en piragua podrás descubrir
                la costa suroeste de nuestra isla y darte un baño en preciosas calas innacesibles a pie.
            </p>

            <h2>Detalles de la actividad</h2>

            <p>Conoce aquí toda la información necesaria para el evento</p>

            <ul class="ulpgcds-list">
                <li><strong>Fecha de realización: </strong>19 Marzo 2021.</li>
                <li><strong>Distancia: </strong>8,5 km.</li>
                <li><strong>Dificultad: </strong>Media - Alta.</li>
                <li><strong>Duración aproximada: </strong>4:30 horas.</li>
                <li><strong>Incluye:</strong><ul>
                        <li>2 Técnicos deportivos</li>
                        <li>Material para la realización de la actividad</li>
                        <li>Seguro de accidente</li>
                        <li>Seguro R.C</li>
                        <li>Transporte de ida y vuelta</li>
                        <li>Tríptico informativo</li>
                    </ul></li>
                <li><strong>Precio comunidad universitaria: </strong>10€</li>
                <li><strong>Precio externos: </strong>15€</li>
                <li><strong>Lugar de salida: </strong><ul>
                        <li>Fuente luminosa: 9:00 horas</li>
                        <li>Campus Universitario de Tafira: 9:15 horas</li>
                    </ul></li>
            </ul>

            <button class="ulpgcds-btn ulpgcds-btn--primary">¡Quiero unirme!</button>
        </div>
    </main>

    <footer>
        <div class="ulpgcds-footer">
            <div class="ulpgcds-footer__top wrapper">
                <div class="row">
                    <div class="col-6">
                        <div class="footer-logo"></div>
                        <div class="row">
                            <div class="col-6">
                                <h3>Datos contacto 1</h3>
                                <p>Esto es un ejemplo</p>
                                <p>Tlf: 111111111</p>
                            </div>
                            <div class="col-6">
                                <h3>Datos contacto 2</h3>
                                <p>Email: contacto@ulpgc.es</p>
                            </div>
                        </div>
                        <div class="ulpgcds-footer__social">
                            <h3>Síguenos en</h3>
                            <ul>
                                <li class="twitter"><a href="https://twitter.com/ulpgc"
                                                       class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon"
                                                       target="_blank"><i
                                                class="ulpgcds-btn__icon icon-twitter"></i><span>Twitter</span></a></li>
                                <li class="flickr"><a href="http://www.flickr.com/photos/ulpgc"
                                                      class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon"
                                                      target="_blank"><i
                                                class="ulpgcds-btn__icon icon-flickr"></i><span>Flickr</span></a></li>
                                <li class="facebook"><a
                                            href="http://www.facebook.com/pages/Ulpgc-Para-Ti/160435343978326?sk=wall"
                                            class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon" target="_blank"><i
                                                class="ulpgcds-btn__icon icon-facebook"></i><span>Facebook</span></a>
                                </li>
                                <li class="youtube"><a href="http://www.youtube.com/ulpgc"
                                                       class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon"
                                                       target="_blank"><i
                                                class="ulpgcds-btn__icon icon-youtube"></i><span>YouTube</span></a></li>
                                <li class="linkedin"><a
                                            href="http://www.linkedin.com/groups?mostPopular=&amp;gid=148332"
                                            class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon" target="_blank"><i
                                                class="ulpgcds-btn__icon icon-linkedin"></i><span>LinkedIn</span></a>
                                </li>
                                <li class="instagram"><a href="https://www.instagram.com/ulpgc_para_ti"
                                                         class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon"
                                                         target="_blank"><i
                                                class="ulpgcds-btn__icon icon-instagram"></i><span>Instagram</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <h3>Legal</h3>
                                <ul>
                                    <li><a href="https://www.ulpgc.es/avisio-legal">Aviso legal</a></li>
                                    <li><a href="https://www.ulpgc.es/">Política privacidad</a></li>
                                    <li><a href="https://www.ulpgc.es/">Cookies</a></li>
                                    <li><a href="https://www.ulpgc.es/">Accesibilidad </a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <h3>Servicios</h3>
                                <ul>
                                    <li><a href="https://www.ulpgc.es/">Servicio 1</a></li>
                                    <li><a href="https://www.ulpgc.es/">Servicio 2</a></li>
                                    <li><a href="https://www.ulpgc.es/">Servicio 3</a></li>
                                    <li><a href="https://www.ulpgc.es/">Servicio 4</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <h3>Otro bloque</h3>
                                <ul>
                                    <li><a href="https://www.ulpgc.es/">Enlace 1</a></li>
                                    <li><a href="https://www.ulpgc.es/">Enlace 2</a></li>
                                    <li><a href="https://www.ulpgc.es/">Enlace 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ulpgcds-footer__medium">
                <div class="wrapper">
                    <ul>
                        <li class="parque_cientifico"><a href="http://pct.ulpgc.es" target="_blank"><span>Parque Científico Tecnológico Universidad de Las Palmas de Gran Canaria</span></a>
                        </li>
                        <li class="consejo_social"><a href="http://www.csocial.ulpgc.es" target="_blank"><span>Consejo Social Universidad de Las Palmas de Gran Canaria</span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ulpgcds-footer__bottom">
                <div class="wrapper">
                    <p>© Universidad de Las Palmas de Gran Canaria · ULPGC</p>
                </div>
            </div>
        </div>
    </footer>




{% endblock %}

{% block title %}
    ULPGC · Actividades
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.ulpgcds-carrusel--small').slick({
                slidesToShow: 3,
                slidesToScroll: 3,
                prevArrow: '<button type="button" class="slick-prev"><span>Anterior</span></button>',
                nextArrow: '<button type="button" class="slick-next"><span>Siguiente</span></button>',
                dots: true,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            dots: true,
                        }
                    }]
            });
        });

        $('.ulpgcds-carrusel--small').slick({
            slidesToShow: 3,
            slidesToScroll: 3,
            prevArrow: '<button type="button" class="slick-prev"><span>Anterior</span></button>',
            nextArrow: '<button type="button" class="slick-next"><span>Siguiente</span></button>',
            dots: true,
            responsive: [
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: true,
                    }
                }]
        });
    </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        _uacct = "UA-1660551-1";
        urchinTracker();
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.ulpgc.es/ulpgcds/1.0/js/ulpgcds.js?v=1.0"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5b87c29a1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
{% endblock %}