/* Estilo general para las paginas de SOPA */

body {
        background-color: white;
/*        background-image: url("/img/bgsopa2.gif");
*/
        font-family: "Rubik", sans-serif;
        font-size: 1em;
}

h1 {
        color: white;
}

#logoInicio:hover {
	background-color: inherit !important;
}

/* Letra inicial mas grande  */
/* h1:first-letter { font-size: 150% } */

h2 {
	color: navy;
}

a {
  text-decoration: none;
  /*border-bottom: 1px dashed #c0c0c0;*/
}
/* Fondo de enlaces levemente amarillo */
a:hover { background-color: #FfFfA0 }

hr { border: solid; color: silver; }

address { text-align: center; display: none }

*.arroba:before { content: "@" }

img.titulo_portada{
	float: left;
	padding-left: 0px;
	padding-right: 30px;
	padding-top: 0px;
}

h1.titulo_portada {
	background-color: white;
	background: url(ulpgc-logo-azul.jpg) no-repeat right;
	font-size: 160%;
	/*color: #002F67;*/
	margin-left: 30px;
	min-width: 400px;
	font-family: Helvetica, "Arial", sans-serif;
}

h1.titulo_portada small {
	font-size: 70%;
}

h1.titulo_portada-otro {
	margin-top: 1em;
	padding-top: 1em;
	border-top: none;
	border-color: navy;
}

h1.portada {
	margin-top: 1em;
	margin-bottom: 0em;
	padding-top: 1em;
	padding-bottom: 0em;
	background: none;
	/*color: navy;*/
}

/* Entradilla de la pagina */
#entradilla {
	background-color: white; /*  #EEF; */
	border-style: dashed;
	border-width: 1px;
	border-color: #AAF;
	padding: 1em;
	margin-left: 0px;
	margin-right: 50px;
	margin-bottom: 24px;
	max-width: 80%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

}


/* Lista de enlaces iniciales */
p.listaEnlaces {
	max-width: 780px;
	padding: 10px;
	line-height: 1.5;
	background-color: #dfc;
	text-align: center;
}

ul.lista_asignatura {
	line-height: 150%;
}

*.nuevo {
	color: red;
}

*.cita {
	margin-top: 1em;
	border-style: dashed;
	border-width: 1em;
	padding: 0.5em;
	background-color: #CCC;
	font-family: "Trebuchet MS", Times
}


*.enlacePie { 
	font-size: 85%;
	padding-top: 1em;
 }

 .enlacePie a {
 	border: none;
 }

*.copyright { 
	text-align: left; 
	font-family: "Trebuchet MS", serif;
	font-size: small;
}

.elementosIzquierda{

	margin-left: 240px;
}

/*
@media all and (max-width: 640px) {
.enlacePie {
	border-top: dotted;
	border-top-color: gray;
	border-top-width: 1px;
}

}
*/
