{% extends 'base/base.html.twig' %}

{% block body %}
    <div id="logo" style="width: 30%">
        <a id="logoInicio" href="{{ path('inicio') }}"> <img src="/assets/version_max_red_2t.svg" alt="Error al cargar la imagen"></a>
    </div>
    <div>
        <h1  class="title-xl"> FSO - Fundamentos de los Sistemas Operativos
        </h1>
    </div>
    <nav aria-label="Breadcrumb" class="ulpgcds-breadcrumb ml-5 pb-5">
        <div>Te encuentras en:</div>
        <ul>
            <li class="ulpgcds-breadcrumb__item"><a class="ulpgcds-breadcrumb__item__link first" href="{{ path('inicio')}}">ULPGC · Fundamentos de los Sistemas Operativos </a></li>
            <li class="ulpgcds-breadcrumb__item">ULPGC · Exámenes resueltos desde el año 1993</li>
        </ul>
    </nav>
    <h2 class="ml-5 title-xl color-orange">Exámenes resueltos desde el año 1993</h2>

    <form class="ulpgcds-form ml-5">
        <div class="ulpgcds-form__item ulpgcds-form__item--type-select">
            <label for="dropdown">Año:</label>
            <select id="dropdown" name="dropdown" onchange="obtenerExamenes()">
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            </select>
            <div class="help-text">Año de realización del examen</div>
        </div>
    </form>

    <div id="examenWrapper">

        {% include 'examenesTabs.html.twig' %}
    </div>

    <footer>
        <div class="ulpgcds-footer">
            <div class="ulpgcds-footer__top wrapper float-left mb-3">
                <div class="row mx-auto">
                    <div class="col-6">
                        <div class="footer-logo">
                            <a href="/"><img src="/assets/img/sopaxx.gif" alt="[S.Op.]" align="bottom" border="0"></a>
                            <a class="m-1 align-bottom" href="/design">Portada</a>
                            <p class="copyright p-2">&copy; 1994-2020 Universidad de Las Palmas de Gran Canaria</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ulpgcds-footer__bottom">
                <div class="wrapper">
                    <p>© Universidad de Las Palmas de Gran Canaria · ULPGC</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block title %}
    ULPGC · Exámenes resueltos desde el año 1993
{% endblock %}

{% block js %}


{% endblock %}