{% extends 'base/base.html.twig' %}

{% block body %}
    <h1> FSO - Fundamentos de los Sistemas Operativos</h1>
    <div id="caja">
        <h2>Moodle</h2>
        <ul>
            <li>
                <a href="https://cv-aepd.ulpgc.es/cv/ulpgctp20d/course/view.php?id=2045">Asignatura en el Campus Virtual ULPGC</a>
            </li>
        </ul>

        <h2>Sobre la asignatura</h2>
        <ul>
            <li>
                <a
                        href="https://www.ulpgc.es/index.php?pagina=estudios&ver=weees003&tipoplan=&codigo=180_4008_40_00_1_2_40814" target="_blank">Proyecto docente</a>

            <li><a href="https://prezi.com/49p7nfzpefts">Presentación de la asignatura FSO </a></li>

        </ul>

        <ul>
        </ul>
        <h2>Horarios y tutorías</h2>
        <ul>
            <li><span style="font-style: italic;">Profesores:</span></li>
            <ul>
                <li><a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=57">
                        José Miguel Santos Espino
                    </a> (coordinador de la asignatura)</li>
                <li>
                    <a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=55">Francisco J. Santana Pérez</a>  (responsable de prácticas)
                </li>
                <li>
                    <a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=63">Alexis Quesada Arencibia</a>
                </li>
                <li><a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=49">
                        Juan Carlos Quevedo Losada</a>
                </li>
                <li><a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=22">
                        Jesús García Quesada
                    </a></li>


            </ul>
        </ul>
        <h2>Material de Teoría</h2>
        <ul>
            <li><a href="teoria">Diapositivas, ejercicios y documentos para la teoría</a></li>
            <li><a
                        href="https://docs.google.com/spreadsheets/d/1yl9ykYAOpSF39YAf8_gyFUlxQHJpUyNlL-vcG31vY4c/edit?usp=sharing">
                    Lista de erratas del libro de teoría</a> (Editorial Paraninfo)</li>
        </ul>
        <h2>Material de Prácticas</h2>
        <ul>

            <li>
                <a href="https://cv-aepd.ulpgc.es/cv/ulpgctp20d/course/view.php?id=2045">Prácticas en el Campus Virtual ULPGC</a>
            </li>
            <!-- <li><a href="wiki">Wiki para las pr&aacute;cticas de la asignatura</a></li> -->
            <!-- <li><a href="http://sopa.dis.ulpgc.es/fso/material-didactico-practico/diapositivas-practicas/">[Wiki temporalmente fuera de servicio] Material de auxilio pr&aacute;cticas</a></li> -->

            <!-- WIKI 2012-2013
                <li><span style="font-style: italic;">Relaci&oacute;n de Pr&aacute;cticas:</span></li>

            <ul>
                <li><a href="http://sopa.dis.ulpgc.es/fso/sopawikifso">Wiki de pr&aacute;cticas de FSO</a>
            -->

        </ul>

        <h2>Exámenes</h2>
        <ul>
            <!--
              <li> <a href="https://youtu.be/e5E3uL62CiY">Instrucciones para rellenar el test (vídeo)</a></li>
            -->
            <li>
                <a href="examenes/instrucciones examen FSO.pdf">Instrucciones para el examen</a>
            </li>
            <li> <a href="examenes">Exámenes de cursos anteriores y
                    soluciones</a></li>
        </ul>
    </div>

    <p class="enlacePie">
        <a href="/"><img src="assets/img/sopaxx.gif" alt="[S.Op.]" align="bottom" border="0"></a>
        <a href="/">Portada</a>
    </p>

    <p class="copyright">&copy; 1994-2020 Universidad de Las Palmas de Gran Canaria</p>
    <br>
{% endblock %}

{% block title %}
Fundamentos de los Sistemas Operativos (Grado en Ingeniería Informática)
{% endblock %}

{% block js %}
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        _uacct = "UA-1660551-1";
        urchinTracker();
    </script>
{% endblock %}