{% extends 'base/base.html.twig' %}

{% block body %}
    <h1> FSO - Fundamentos de los Sistemas Operativos</h1>
    <a href="inicio">VERSION CON DESIGN SYSTEM</a>
    <div id="caja">
        <h2>Moodle</h2>
        <ul>
            <li>
                <a href="https://aep22.ulpgc.es/course/view.php?id=7379">Asignatura en el Campus Virtual ULPGC</a>
            </li>
        </ul>

        <h2>Sobre la asignatura</h2>
        <ul>
            <li>
                <a href="https://www2.ulpgc.es/plan-estudio/4008/41/40970" target="_blank">Proyecto docente (grado)</a>
            </li>
            <li>
                <a href="https://www2.ulpgc.es/plan-estudio/4801/41/48330">Proyecto docente (doble grado y extinción)</a>
            </li>


        </ul>

        <ul>
        </ul>
        <h2>Horarios y tutorías</h2>
        <ul>
            <li>Profesores:</li>
            <ul>
                <li><a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=57">
                        José Miguel Santos Espino
                    </a> (coordinador)</li>
                <li>
                    <a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=63">Alexis Quesada Arencibia</a> (responsable de prácticas)
                </li>
                <li><a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=23">
                        Carmelo Rubén García Rodríguez
                    </a></li>

                <li>
                    <a href="http://www.dis.ulpgc.es/profesorado/ficha.asp?id=55">Francisco J. Santana Pérez</a>
                </li>
                <li>
                    <a href="https://www.dis.ulpgc.es/profesorado/ficha.asp?id=100">José Carlos Rodríguez Rodríguez</a>
                </li>

            </ul>
        </ul>
        <h2>Material de Teoría</h2>
        <ul>
            <li><strong>Material básico: </strong><a href="teoria">Diapositivas, ejercicios y documentos para la teoría</a></li>
            <li><strong>Libro básico:</strong> <em>Operating System Concepts</em> (Silberschatz, Galvin y Gagne).<br>El <em>«libro de los dinosaurios»</em>. Ediciones recomendadas: 9 y 10 en inglés.
                <ul>
                    <li><a href="https://os-book.com" target="_blank">os-book.com</a>: Recursos en línea del libro (todas las ediciones)</li>
                    <li><a href="https://www.os-book.com/OS10/slide-dir/index.html" target="_blank">Diapositivas en PPT del libro</a> (décima edición)</li>
                </ul>
            </li><li><strong>Libro auxiliar:</strong> <em><a href="http://www.paraninfo.es/catalogo/9788497325479/FUNDAMENTOS-DE-SISTEMAS-OPERATIVOS--TEORIA-Y-EJERCICIOS-RESUELTOS">Fundamentos de Sistemas Operativos. Teoría y ejercicios resueltos.</a></em>
                <ul>
                    <li><a href="https://docs.google.com/spreadsheets/d/1yl9ykYAOpSF39YAf8_gyFUlxQHJpUyNlL-vcG31vY4c/edit?usp=sharing">
                            Lista de erratas en los ejercicios</a></li>
                </ul>
            </li>

        </ul>
        <h2>Material de Prácticas</h2>
        <ul>

            <li>
                <a href="https://aep22.ulpgc.es/course/view.php?id=7379">Prácticas en el Campus Virtual ULPGC</a>
            </li>
            <!-- <li><a href="wiki">Wiki para las pr&aacute;cticas de la asignatura</a></li> -->
            <!-- <li><a href="http://sopa.dis.ulpgc.es/fso/material-didactico-practico/diapositivas-practicas/">[Wiki temporalmente fuera de servicio] Material de auxilio pr&aacute;cticas</a></li> -->

            <!-- WIKI 2012-2013
                <li><span style="font-style: italic;">Relaci&oacute;n de Pr&aacute;cticas:</span></li>

            <ul>
                <li><a href="http://sopa.dis.ulpgc.es/fso/sopawikifso">Wiki de pr&aacute;cticas de FSO</a>
            -->

        </ul>

        <h2>Exámenes</h2>
        <ul>
            <!--
              <li> <a href="https://youtu.be/e5E3uL62CiY">Instrucciones para rellenar el test (vídeo)</a></li>
              <li>
                <a href="examenes/instrucciones examen FSO.pdf">Instrucciones para el examen</a>
              </li>
            -->
            <li> <a href="examenes">Exámenes resueltos de cursos anteriores</a></li>
        </ul>
    </div>

    <p class="enlacePie">
        <a href="/"><img src="assets/img/sopaxx.gif" alt="[S.Op.]" align="bottom" border="0"></a>
        <a href="/">Portada</a>
    </p>

    <p class="copyright">© 1994-2022 Universidad de Las Palmas de Gran Canaria</p>
    <br>
{% endblock %}

{% block title %}
Fundamentos de los Sistemas Operativos (Grado en Ingeniería Informática)
{% endblock %}

{% block js %}
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        _uacct = "UA-1660551-1";
        urchinTracker();
    </script>
{% endblock %}